<div class="menu-bar__container">
  <div class="menu-bar__logo">
      <img  src="assets\ps-logo.png"
            alt="playstation logo"
            srcset=""
            width="140px"
            height="32px"

            >
  </div>
  <div class="menu-bar__item">
    <ul>

      <li><a href="https://www.linkedin.com/in/leonardo-amorim-dev-brasil" target="_blank">LIKEDIN</a></li>
      <li><a href="https://github.com/leoamorimandrade" target="_blank">GITHUB</a></li>
    </ul>

  </div>

</div>
